# Byte-compiled / optimized / DLL files
__pycache__/
*.py
*.pyo
*.so

# Environment files
.env
*.env

# Virtual environments (Conda)
.conda/
envs/

# Logs and debug files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Python cache files
*.cache

# Metadata
*.json~
*.csv~
*.db

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo